name: Build Docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build with MkDocs
      run: |
        pip install mkdocs mkdocs-material
        mkdocs build
